.language-switcher {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1000;
}

.lang-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.lang-button:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.flag-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
